<!-- <div class="superior">
  <div class="foto" *ngIf="this.agendaService.foto !== ''"><img [src]="this.agendaService.foto" id="minhaImagem" class="id-Foto"></div>
  <div class="foto" *ngIf="this.agendaService.foto == ''"><img [src]="this.fotoService.semfoto2" id="minhaImagem" class="id-Foto"></div>
  <div class="info">
    <div class="unidade" style="align-items: center; justify-content: center;display: flex;"><app-custom-date></app-custom-date></div>
    <div class="unidade" style="align-items: center; justify-content: center;display: flex;"><app-unidade></app-unidade></div>
    <div class="nome"*ngIf="this.agendaService.dSala !== 0">SALA {{this.agendaService.dSala}}</div>
    <div class="nome">{{this.agendaService.dHora}}</div>
    <div class="nome" style="font-weight: bold; color:var(--cor-media)">{{this.agendaService.dCliente}}</div>
   </div>
</div>
<div class="inferior" *ngIf="this.agendaService.dSala !== 0">
  <div *ngIf="this.agendaService.visCli">
    <label class="fLabel" for="cliente-select">Cliente:</label>
    <input type="text" id="cliente-select" list="valores" class="fCampo" [(ngModel)]="this.agendaService.dCliente" (blur)="buscaFoto()">
    <datalist id="valores">
      <option *ngFor="let valor of this.ListaCliente" [value]="valor.nome"></option>
    </datalist>
  </div>

  <div *ngIf="this.agendaService.visCol">
    <label class="fLabel" for="colab-select">Colaborador:</label>
    <input type="text" id="colab-select" list="valores1" class="fCampo" [(ngModel)]="this.agendaService.dCliente">
    <datalist id="valores1">
      <option *ngFor="let valor of this.ListaColab" [value]="valor.nome"></option>
    </datalist>
  </div>
  <div>
    <label class="fLabel" for="sessao-select">Sessão:</label>
    <input type="text" id="sessao-select" list="valores2" class="fCampo" [(ngModel)]="this.CelAtual.subtitulo">
    <datalist id="valores2">
      <option value="Entrevista"></option>
      <option value="Consulta"></option>
      <option value="Entrega de Exames"></option>
      <option value="Avaliação"></option>
      <option value="Avaliação Multidisciplinar"></option>
      <option value="Avaliação Neuropsicológica"></option>
      <option value="Psicologia"></option>
      <option value="Fisio Padovan"></option>
      <option value="Psicopedagogia"></option>
      <option value="Fonoaudiologia"></option>
      <option value="Terapia Ocup."></option>
      <option value="Psicomotricidade"></option>
      <option value="Arteterapia"></option>
      <option value="NeuroFeedback"></option>
      <option value="Reforço escolar"></option>
    </datalist>
  </div>
  <div style="display: flex; vertical-align: middle;">
    <label class="fLabel" for="valor">Valor (R$):</label>
    <input type="text" *ngIf="this.Vlr == false" class="fCampo" style="width: 25%;" (blur)="AltVlr2()" [(ngModel)]="this.CelAtual.valor" [ngModelOptions]="{updateOn: 'blur'}" appCurrencyInput />
    <div (click)="altVlr()" *ngIf="this.Vlr == true" class="fLabel" >{{ this.CelAtual.valor | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</div>
  </div>
  <div class="repetition">
    <label class="fLabel" for="Repet">Repetição:</label>
    <select id="Repet" class="fCampo" [(ngModel)]="this.CelAtual.repeticao">
      <option>Sessão única</option>
      <option>Diária</option>
      <option>Semanal</option>
      <option>Quinzenal</option>
      <option>Mensal</option>
      <option>Cancelar Repetição</option>
    </select>
  </div>
  <div class="seletores" *ngIf="this.agendaService.dHora !== 'manhã' && this.agendaService.dHora !== 'tarde'">
    <div class="tags" (click)="setStatus('Realizado')" [ngClass]="{'tagsSelect': this.CelAtual.status == 'Realizado' ? true : false}" style="background-color: lawngreen;">Realizada</div>
    <div class="tags" (click)="setStatus('Desmarcado')" [ngClass]="{'tagsSelect': this.CelAtual.status == 'Desmarcado' ? true : false}" style="background-color: rgb(238, 200, 103);">Desmarcada</div>
    <div class="tags" (click)="setStatus('Falta')" [ngClass]="{'tagsSelect': this.CelAtual.status == 'Falta' ? true : false}" style="background-color:rgb(231, 84, 113);">Falta</div>
    <div class="tags" (click)="setStatus('Pendente')" [ngClass]="{'tagsSelect': this.CelAtual.status == 'Pendente' ? true : false}" style="background-color:rgb(195, 231, 255);">Pendente</div>
    <div class="tags" (click)="setStatus('Bloqueado')" [ngClass]="{'tagsSelect': this.CelAtual.status == 'Bloqueado' ? true : false}" style="background-color:silver;">Bloquear Hora</div>
    <div class="tags" (click)="setStatus('Vago')" [ngClass]="{'tagsSelect': this.CelAtual.status == 'Vago' || '' ? true : false}" style="background-color:white;">Limpar Hora</div>
  </div>
  <div>
    <span class="fLabel">Observações:</span>
    <div class="Obs1" id="Obs">
      <textarea #obsTextarea [(ngModel)]="this.CelAtual.obs"
      placeholder="Digite aqui..." class="box-Obs1"
      ></textarea>
    </div>
    <span class="fLabel">Histórico:</span>
      <pre id="Hist" class="Obs1">{{ this.CelAtual.historico }}</pre>
  </div>
</div>
<div class="bot" *ngIf="this.agendaService.dSala !== 0">
<button class="rosa" (click)="salvaSessao()">Salvar</button>
</div> -->
