<div class="superior">
  <div class="foto"></div>
  <div class="info">
    <div class="unidade" style="align-items: center; justify-content: center;display: flex;"><app-custom-date></app-custom-date></div>
    <div class="unidade" style="align-items: center; justify-content: center;display: flex;"><app-unidade></app-unidade></div>
    <div class="nome">SALA</div>
    <div class="nome">HORÁRIO</div>
    <div class="nome" style="font-weight: bold; color:var(--cor-media)">ANTONIO FRANCISCO LISBOA ALEIJADINHO</div>
   </div>
</div>
<div class="inferior">
  <div>
    <label class="fLabel">Cliente:</label>
    <input type="text" id="cliente-select" list="valores" class="fCampo">
    <datalist id="valores" *ngFor="let i of this.clienteService.dataSource">
      <option>{{i.nome}}</option>
    </datalist>
  </div>
  <div>
    <label class="fLabel">Sessão:</label>
    <input type="text" id="sessao-select" list="valores2" class="fCampo">
    <datalist id="valores2">
      <option value="Entrevista"></option>
      <option value="Consulta"></option>
      <option value="Entrega de Exames"></option>
      <option value="Avaliação"></option>
      <option value="Avaliação Multidisciplinar"></option>
      <option value="Avaliação Neuropsicológica"></option>
      <option value="Psicologia"></option>
      <option value="Fisio Padovan"></option>
      <option value="Psicopedagogia"></option>
      <option value="Fonoaudiologia"></option>
      <option value="Terapia Ocup."></option>
      <option value="Psicomotricidade"></option>
      <option value="Arteterapia"></option>
      <option value="NeuroFeedback"></option>
      <option value="Reforço escolar"></option>
    </datalist>
  </div>
  <div class="repetition">
    <label class="fLabel">Repetição:</label>
    <select   class="fCampo">
      <option>Sessão única</option>
      <option>Semanal</option>
      <option>Quinzenal</option>
      <option>Mensal</option>
      <option>Cancelar Repetição</option>
    </select>
  </div>
  <div class="seletores">
    <label class="tags" style="background-color: lawngreen;">Realizada</label>
    <label class="tags" style="background-color: rgb(238, 200, 103);">Desmarcada</label>
    <label class="tags" style="background-color:rgb(231, 84, 113);">Falta</label>
    <label class="tags" style="background-color:white;">A definir</label>
    <label class="tags" style="background-color:silver;">Bloquear Hora</label>
    <label class="tags" style="background-color:rgb(195, 231, 255);">Limpar Hora</label>
  </div>
  <div>
    <label class="fLabel">Observações:</label>
    <div class="Obs1">

    </div>
    <label class="fLabel">HIstórico: </label>
    <div class="Obs1">

    </div>
  </div>
</div>
