 <div class="modal-inteiro">
    <div class="moldura">
        <div class="titulo">INSERIR NOVO MEMBRO DA EQUIPE</div>
        <div>

          <div>
    <span class="fLabel">Nome do Funcionário:</span>
    <input type="text" class="fCampo" [(ngModel)]="formulario.nome" name="Nome" placeholder="(insira o nome)" required>
  </div>
  <div>
    <span class="fLabel">E-mail:</span>
    <input type="text" class="fCampo" [(ngModel)]="formulario.email" name="email" placeholder="(email)" required>
  </div>
  <div>
    <span class="fLabel">Perfil:</span>
    <select class="fCampo" style="width: 75%;" [(ngModel)]="formulario.idPerfil" name="nivel">
      <option>Diretoria</option>
      <option>Secretaria</option>
      <option>Coordenação</option>
      <option>Equipe Clínica</option>
    </select>
  </div>
  <div>
    <span class="fLabel">Celular:</span>
    <input type="text" class="fCampo" [(ngModel)]="formulario.celular" name="celular" placeholder="(celular)" required>
  </div>

  <span class="fLabel">Insira as informações e clique em "Salvar". Será gerada uma senha temporária para
    este funcionário, e será enviado um e-mail para que ele faça o primeiro acesso e altere a senha.<br>
    Após isso, ele poderá completar o seu cadastro.<br>
    Certifique-se de inserir um e-mail válido.
  </span>

<!--
            <div class="input_box">
                <label class="fLabel">Nome:</label>
                <input type="text" class="fCampo" [(ngModel)]="formulario.nome" name="Nome" placeholder="(insira o nome)" required>
            </div>
            <div class="input_box">
                <label class="fLabel">Endereço:</label>
                <input type="text" class="fCampo" [(ngModel)]="formulario.endereco" name="endereco" placeholder="(rua, número, complemento, bairro, cidade, CEP)" required>
            </div>
            <div>
                <label class="fLabel">Data Nascim:</label>
                <input type="text" class="fMeioCampo" style="width: 15%;" [(ngModel)]="formulario.dtNasc" name="dtNasc" placeholder="(dd/mm/aaaa)" required>
                <label class="fLabel">E-mail:</label>
                <input type="text" class="fMeioCampo" style="width: 30%;" [(ngModel)]="formulario.email" name="email" required>
                <label class="fLabel">Data Admissão:</label>
                <input type="text" class="fMeioCampo" style="width: 15%;" [(ngModel)]="formulario.dtAdmis" name="dtAdmis" placeholder="(dd/mm/aaaa)" required>

            </div>
            <label class="fLabel">Perfil:</label>
            <select class="fLabel" style="width: 75%; border:none;" [(ngModel)]="formulario.idPerfil" name="nivel">
                <option>Diretoria</option>
                <option>Secretaria</option>
                <option>Coordenação</option>
                <option>Equipe Clínica</option>
            </select>
            <div>
                <label class="fLabel">Telefone Fixo:</label>
                <input type="text" class="fMeioCampo" [(ngModel)]="formulario.telFixo" name="telFixo" placeholder="(somente números)" required>
                <label class="fLabel">Celular:</label>
                <input type="text" class="fMeioCampo"  [(ngModel)]="formulario.celular" name="celular" required>
            </div>
            <div>
                <label class="fLabel">Identidade:</label>
                <input type="text" class="fMeioCampo" [(ngModel)]="formulario.rg" name="rg" placeholder="(somente números)" required>
                <label class="fLabel">CPF:</label>
                <input type="text" class="fMeioCampo"  [(ngModel)]="formulario.cpf" name="celular" required>
            </div>
        </div>

        -->
      <div class="botoes">
        <button class="rosa" (click)="salvar()">SALVAR</button>
        <button class="escuro" (click)="fechar()">CANCELAR</button>
      </div>
    </div>


</div>

<!--
<div modal-moldura>
  <div>
    <span class="fLabel">Nome do Funcionário:</span>
    <input type="text" class="fCampo" [(ngModel)]="formulario.nome" name="Nome" placeholder="(insira o nome)" required>
  </div>
  <div>
    <span class="fLabel">E-mail:</span>
    <input type="text" class="fCampo" [(ngModel)]="formulario.email" name="email" placeholder="(email)" required>
  </div>
  <div>
    <span class="fLabel">Perfil:</span>
    <select class="fLabel" style="width: 75%; border:none;" [(ngModel)]="formulario.idPerfil" name="nivel">
      <option>Diretoria</option>
      <option>Secretaria</option>
      <option>Coordenação</option>
      <option>Equipe Clínica</option>
    </select>
  </div>
  <div>
    <span class="fLabel">Celular:</span>
    <input type="text" class="fCampo" [(ngModel)]="formulario.celular" name="celular" placeholder="(celular)" required>
  </div>
</div> -->
