
  <!-- <div class="date-area">
    <div (click)="picker.open()" class="date-display">
      <div *ngIf="this.ParImpar == 'P'" class="sem"><span class="date-dia-da-semana">{{ semana[displayedDate.getDay()] }}</span></div>
      <div *ngIf="this.ParImpar == 'I'" class="sem2"><span class="date-dia-da-semana">{{ semana[displayedDate.getDay()] }}</span></div>

      <div class="dia"><span class="date-calendario">{{ displayedDate | date: 'dd/MM/yyyy' }}</span></div>

    </div>
    <input matInput [matDatepicker]="picker" style="display:none;" [(ngModel)]="displayedDate" (ngModelChange)="onDivClick(displayedDate)">
    <mat-datepicker #picker></mat-datepicker>
  </div> -->
