<div class="areatotal">
  <!-- <div class="detalhes">
    <app-detalhes></app-detalhes>
  </div>
  <div class="area">

    <table class="tabela">
      <thead>
        <th *ngFor="let c of colunas">
          <app-cel-agenda [parametro]="'0%' + c"></app-cel-agenda>
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let l of linhas">
          <td *ngFor="let c of colunas">
              <app-cel-agenda [parametro]="l + '%' + c"></app-cel-agenda>
          </td>
        </tr>
      </tbody>
    </table>
 </div> -->
</div>

